{% extends "base.html" %}
{% block title %}지난 문제 · DailyDrop{% endblock %}
{% block content %}
<h2>지난 문제</h2>
{# ===== [팀원 A 작업 영역] ===== #}
{# TODO: 지난 문제 카드 그리드 + 내 결과 #}
<div class="row g-2">
  {% for p in problems %}
    <div class="col-md-4">
      <div class="card p-2 mb-2">
        <p class="d-flex justify-content-between">
          <span>[ {{ p.date }} ]</span>
          <span>정답률: {{ accu_list[loop.index0] }}%</span>
        </p>
        <p class="text-start">
          {{ p.title }}
        </p>
        <p class="text-start">
          정답: {{p.answer}}
        </p>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
