{% extends "base.html" %}
{% block title %}지난 문제 · DailyDrop{% endblock %}
{% block content %}
<h2>지난 문제</h2>
{# ===== [팀원 A 작업 영역] ===== #}
{# TODO: 지난 문제 카드 그리드 + 내 결과 #}
<div class="row g-3">
  {% for p in problems %}
    <div class="col-md-6">
      <div class="card p-3 mb-3">
        <p class="text-start">
          {{ p.date }}
        </p>
        <p class="text-center">
          {{ p.title }} - 정답: {{p.answer}}
        </p>
        <p class="text-end">
          정답률: {{ accu_list[loop.index0] }}%
        </p>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
