{% extends "base.html" %}
{% block title %}지난 문제 · DailyDrop{% endblock %}
{% block content %}
<h2>지난 문제</h2>
{# ===== [팀원 A 작업 영역] ===== #}
{# TODO: 지난 문제 카드 그리드 + 내 결과 #}
<div class="row g-3">
  {% for p in problems %}
    <div class="col-md-4">
      <div class="card p-3 rounded-4 shadow-sm border-0">
        <p class="d-flex justify-content-between">
          <span class="small text-secondary fw-semibold">
            {{ p.date }}
          </span>
          <span>
            <span>정답률: </span>
            <span class="badge rounded-pill bg-primary">{{ accu_list[loop.index0] }}%</span>
          </span>
        </p>
        <p class="fs-5 fw-semibold mb-3">
          {{ p.title }}
        </p>
      <p class="mb-0">
        <span class="text-secondary">정답: </span>
        <span class="fw-semibold ms-1">{{ p.answer }}</span>
      </p>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
